/*=============================================
=            11: Service  CSS       =
=============================================*/
.service-list-area{
    &.section-space--inner--r95{
        padding-bottom: 65px;
        @include tab{
            padding-bottom: 30px;
        }
        @include mobileLg{
            padding-bottom: 10px;
        }
    }
}
/*  11.1: Service Video  */
.service-video{
    @include tab{
        margin-bottom: 60px;
    }
    .service-video-slider{
        box-shadow: 0px 4px 40px 0px rgba(0 , 124, 246, 0.1);
        @extend .color-white-bg;
        .owl-dots{
            position: absolute;
            left: 40px;
            bottom: 40px;
            .owl-dot{
                display: inline-block;
                width: 25px;
                height: 2px;
                &:not(:last-child){
                    margin-right: 12px;
                }
            }
        } 
    }
}

.service-list-area{
    background-color: rgba(11 , 32, 115, 1);
}
/*  11.2: Service Slider */
.single-service-slider{
    .video-service-content{
        padding: 75px 40px 95px 40px;
        min-height: 288px;
        @include mobileMd{
            padding: 55px 40px 95px 40px;
        }
    }
    p{
        font-size: 20px;
        @include mobileMd{
            font-size: 18px;
        }
    }
    .author-name{
        font-size: 30px;
        @include mobileMd{
            font-size: 26px;
        }
        .author-title{
            font-size: 16px;
            margin-left: 10px;
            color: rgba(12 ,  33,  117, 0.6);
        }
    }
}
.service-video-bg{
    min-height: 310px;
    border-radius: 4px 4px 0 0;
}

/*  11.3: Single Service */
.single-service{
    margin-bottom: 30px;
    transition: .4s;
    .service-icon{
        margin-bottom: 16px;
    }
    .service-details{
        h4{
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    &.service-v2{
        padding: 60px 50px;
        border-radius: 4px;
        @extend .theme-secondary-bg;
        @include mobileSm{
            padding: 30px 20px;
        }
        &:hover{
            background-color: rgba(40 , 61, 146, 1);
        }
        .service-icon{
            margin-right: 30px;
        }
        .service-content{
            h4{
                font-size: 24px;
                font-weight: $bold;
                margin-bottom: 25px;
                @extend .color-white;
            }
            p{
                color: rgba(152 , 165, 217, 1);
                line-height: 1.9;
            }
        }
    }
}

/*  11.4: Major Service */

.major-service-inner{
    @include tab{
        flex-flow: column;
    }
    .service-left{
        flex: 0 0 40%;
        min-height: 200px;
    }
    .service-right{
        flex: 0 0 60%;
    }
    .service-right-content{
        padding: 100px;
        padding-left: 80px;
        padding-right: 80px;
        @include mobileLg{
            padding: 80px;
            padding-bottom: 75px;
        }
        @include mobileSm{
            padding: 40px;
        }
    }
    .service-bottom-action{
        margin-top: 112px;
        @include tab{
            margin-top: 90px;
        }
        @include mobileLg{
            display: none;
        }
        .site-btn{
            letter-spacing: 0px;
            font-size: 14px;
            padding: 15px 40px;
        }
    }
}


.single-major-service{
    border-top: 4px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px 4px 0 0;
    margin-bottom: 10px;
    &.active{
        border-color: #fff;
        background-color: rgba(255 ,  255,  255, 0.05);
        h4{
            @extend .color-white;
        }
        .major-service-text{
            display: block;
        }
    }
    h4{
        font-size: 16px;
        font-weight: $regular;
        color:  #98a5d9;
        padding: 15px;
        padding-left: 30px;
        margin-left: 15px;
        position: relative;
        cursor: pointer;
        &:after{
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -9.5px;
            font-family: 'fontAwesome';
            content: "\f111";
        }
    }
    .major-service-text{
        padding: 10px 50px 20px 50px;
        margin-top:20px;
        display: none;
        @include mobileXs{
            padding: 10px 40px 20px 30px;
        }
        p{
            color:  #98a5d9;
        }
    }
}