/*=============================================
=           06: Hero slider  CSS          =
=============================================*/
.hero-area{
    background-attachment: fixed !important;
}
.hero-slider{
    margin: 160px 0;
    border-radius: 4px 4px 0 0;
    position: relative;
    border-top: 3px solid $theme-color--secondary;
    padding: 60px 0;
    padding-left: 65px;
    padding-right: 40px;
    z-index:2;
    @include mobileLg{
        margin: 60px 0;
        padding-left: 40px;
        padding-right: 30px;
    }
    @include mobileSm{
        padding-left: 15px;
        padding-right: 20px;
    }
    &:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 0 0 4px 4px;
        content:"";
        z-index:-1;
        background-color: rgba(255 ,  255,  255, 0.82);
    }
    &:before{
        position: absolute;
    }
    .owl-dots{
        position: absolute;
        left: 30px;
        top: 50%;
        margin-top: -50px;
    }
}

/*  6.1: Single Sider */
.single-slider{
    padding-left: 70px;
    @include mobileSm{
        padding-left: 45px;
    }
    h2{
        font-size: 50px;
        font-weight: $regular;
        position: relative;
        line-height: 1.4;
        margin-bottom: 18px;
        @include tab{
            font-size: 40px;
        }
        @include mobileLg{
            font-size: 32px;
        }
        @include mobileSm{
            font-size: 26px;
        }
        @include mobileXs {
            font-size: 22px;
         }
        &:after{
            position: absolute;
            left: -68px;
            top: 30px;
            height: 2px;
            width: 55px;
            content:"";
            @extend .theme-heading-bg;
            @include mobileSm{
                display: none;
            }
        }
    }
    p{
        margin-bottom:68px;
        @include tab{
            margin-bottom: 60px;
        }
        @include mobileLg{
            margin-bottom: 40px;
        }
    }
}