
<!-- Start Header Area -->

<header class="main-header">
    <div class="header-navigation d-flex flex-wrap align-items-center">
        <!-- Start Logo -->
        <div class="logo">
            <a href="#">
                <img src="assets/img/logo.png" alt="Logo">
            </a>
        </div>
        <!-- End of Logo  -->
        <!-- Start Main Menu -->
        <div class="main-menu">
            <nav>
                <ul>
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="service.html">Service</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="blogs.html">Blog</a></li>
                    <li class="mega-item">
                        <a href="#">Pages</a>
                        <ul class="mega-menu-inner">
                            <li>
                                <span>Ji Pages</span>
                                <ul>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="profile.html">User Profile</a></li>
                                    <li><a href="profile-edit.html">Edit User Profile</a></li>
                                    <li><a href="registration.html">Registration</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Ji Content</span>
                                <ul>
                                    <li><a href="single-article.html">Single Article</a></li>
                                    <li><a href="featured-article.html">Featured Article</a></li>
                                    <li><a href="blog-with-left-sidebar.html">Blog With Left Sidebar</a></li>
                                    <li><a href="blog-with-right-sidebar.html">Blog With Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <span>Other Pages</span>
                                <ul>
                                    <li><a href="error.html">Error</a></li>
                                    <li><a href="search.html">Search</a></li>
                                    <li><a href="smart-search.html">Smart Search</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="mobile-menu order-12 d-block d-lg-none"></div>
        </div>
        <!-- End of Main Menu -->
        <!-- Start Contact Meta -->
        <div class="contact-meta text-right">
            <span class="phone-no"><i class="fa fa-mobile"></i> +03 86 600 888 33</span>
            <a href="#contact.html" class="site-btn btn-v2">Contact Us</a>
        </div>
        <!-- End of Contact Meta -->
    </div>
</header>

<!-- End of Header Area -->
