
/*=============================================
=           26: Accordions            =
=============================================*/
.accordion-block{
    .line-title{
        margin-bottom: 25px;
    }
}

/*  26.1: Single Accordion */
.single-accordion{
    &:not(:last-child){
        margin-bottom: 12px;
    }
    &.active{
        .accordion-title{
            @extend .theme-secondary;
        }
        .accordion-text{
            display: block;
        }
    }
    .accordion-title{
        font-size: 14px;
        background-color: rgba(238, 246, 251, 1);
        padding: 15px;
        line-height: 1.9;
        cursor: pointer;
        position: relative;
        &:after{
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -22px;
            font-size: 24px;
            content: "+";
        }
    }
    .accordion-text{
        padding: 15px;
        display: none;
        p{
            margin-top: 25px;
        }
    }
}

/*=====  End of accordions  ======*/

