<!-- Start Footer Area -->

<footer class="footer-area bg-cover" data-bg-img="assets/img/footer-bg.jpg">
    <!-- Start container-fluid -->
    <div class="container-fluid custom-fluid">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="row">
                <div class="col-lg-5">
                    <!-- Start Footer Left -->
                    <div class="footer-left" data-animate="fadeInUp">
                        <!-- Start Footer Weidget -->
                        <div class="footer-weidget">
                            <div class="footer-logo">
                                <a href="#">
                                    <img src="assets/img/footer-logo.jpg" alt="">
                                </a>
                            </div>
                            <div class="about-text">
                                <p>
                                    Lorem Ipsum is dummy text of the printing industry  has been the industry's standard dummy text ever since the when an unknown galley.
                                </p>
                            </div>
                            <div class="location-info d-flex justify-content-between">
                                <!-- Single Location -->
                                <div class="single-location">
                                    <h5 class="line-title">Head Office</h5>
                                    <p>
                                        Onpager. Inc., 3133 Connecticut 
                                        Ave NWe, #923, Washington 
                                        DC, 20008, USA
                                    </p>
                                </div>
                                <!-- End of Single Location -->
                                <!-- Single Location -->
                                <div class="single-location">
                                    <h5 class="line-title">Studio Office</h5>
                                    <p>
                                        Mainstreet 1234
                                        1236 Anytown, Germany (DE)
                                    </p>
                                </div>
                                <!-- End of Single Location -->
                            </div>
                        </div>
                        <!-- End of Footer Weidget -->
                    </div>
                    <!-- End of Footer Left -->
                </div>
                <div class="col-lg-7">
                    <!-- Start Footer Right -->
                    <div class="footer-right" data-animate="fadeInUp" data-delay=".2">
                        <div class="row">
                            <div class="col-sm-4">
                                <!-- Start Footer Weidget -->
                                <div class="footer-weidget">
                                    <!-- Start Footer Head  -->
                                    <div class="footer-head">
                                        <h4>Resources</h4>
                                    </div>
                                    <!-- End of Footer Head -->
                                    <!-- Start Footer Nav -->
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="#">Documentation</a></li>
                                            <li><a href="#">Developer Metrics</a></li>
                                            <li><a href="#">Enterprise</a></li>
                                            <li><a href="#">Pricing</a></li>
                                        </ul>
                                    </div>
                                    <!-- End of Footer Nav -->
                                </div>
                                <!-- End of Footer Weidget -->
                            </div>
                            <div class="col-sm-4">
                                <!-- Start Footer Weidget -->
                                <div class="footer-weidget">
                                    <!-- Start Footer Head  -->
                                    <div class="footer-head">
                                        <h4>Company</h4>
                                    </div>
                                    <!-- End of Footer Head -->
                                    <!-- Start Footer Nav -->
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="#">About</a></li>
                                            <li><a href="#">Custommer</a></li>
                                            <li><a href="#">Contact us</a></li>
                                            <li><a href="#">Support</a></li>
                                            <li><a href="#">Terms</a></li>
                                        </ul>
                                    </div>
                                    <!-- End of Footer Nav -->
                                </div>
                                <!-- End of Footer Weidget -->
                            </div>
                            <div class="col-sm-4">
                                <!-- Start Footer Weidget -->
                                <div class="footer-weidget">
                                    <!-- Start Footer Head  -->
                                    <div class="footer-head">
                                        <h4>Social</h4>
                                    </div>
                                    <!-- End of Footer Head -->
                                    <!-- Start Footer Nav -->
                                    <div class="footer-nav">
                                        <ul>
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Instagram </a></li>
                                            <li><a href="#">Google Plus</a></li>
                                            <li><a href="#">Twitter</a></li>
                                        </ul>
                                    </div>
                                    <!-- End of Footer Nav -->
                                </div>
                                <!-- End of Footer Weidget -->
                            </div>
                        </div>
                    </div>
                    <!-- End of Footer Right -->
                </div>
            </div>
        </div>
        <!-- End of Footer Top -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="row">
                <div class="col-lg-6">
                    <span class="copyright-text">Copyright © 2019 Agencio. All Rights Reserved. Design & Developed by <a href="#" class="company-name">ThemeXpert</a></span>
                </div>
                <div class="col-lg-6">
                    <div class="footer-bottom-menu text-right">
                        <ul>
                            <li><a href="#">Terms and Conditions </a></li>
                            <li><a href="#">Privacy Policy </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->
    </div>
    <!-- End of Container fluid -->
</footer>

<!-- End of Footer Area -->

<!-- Start Back To Top -->
<div class="backToTop">
    <a href="#">
        <i class="fa fa-angle-up"></i>
    </a>
</div>
<!-- End of Back To Top  -->