/*=============================================
=           09: Blog Sidebar  CSS        =
=============================================*/

/*  9.1: Single Sidebar */
.single-sidebar{
    margin-bottom: 2rem;
    padding: 30px 25px;
    box-shadow: 0px 2px 8px 0px rgba(0, 124, 246, 0.1);
    background-color: #fff;
    .sidebar-heading{
        font-size: 18px;
        font-weight: $regular;
        margin-bottom: 25px;
    }
    .sidebar-login-form{
        .form-group{
            margin-bottom: 10px;
            .control-lebel{
                margin-top: -6px;
                padding-left: 4px;
                font-size: 14px;
            }
            &.remember-group{
                margin-top: 20px;
            }
        }
        input{
            padding-left: 8px;
            border-left: 0;
        }
    }
    input{
        padding-left: 5px;
        line-height: 1.75;
    }
    .login-links{
        margin-top: 25px;
        a{
            font-size: 14px;
            display: inherit;
            @extend .theme-secondary;
            &:hover{
                text-decoration: underline;
                @extend .theme-default;
            }
        }
    }
    .social-icon-links{
        &:not(:last-child){
            margin-bottom: 6px;
        }
        li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 4px;
            }
            &:hover{
                a{
                    color: rgba(77 ,  91,  108, 0.7);
                }
            }
            a{
                i{
                    min-width: 30px;
                }
            }
            &.item-1{
                color: rgba(59 , 89, 152, 1);
            }
            &.item-2{
                color: rgba(0 , 172, 237, 1);
            }
            &.item-3{
                color: rgba(72 , 117, 180, 1);
            }
            &.item-4{
                color: rgba(221 ,  75,  57, 1);
            }
            &.item-5{
                color: rgba(239 , 91, 147, 1);
            }
            &.item-6{
                color: rgba(48 , 87, 119, 1);
            }
            &.item-7{
                color: rgba(203 , 32, 39, 1);
            }
            &.item-8{
                color: rgba(196 ,  48,  43, 1);
            }
            &.item-9{
                color: rgba(170 ,  170,  170, 1);
            }
            &.item-10{
                color: rgba(100 ,  65,  165, 1);
            }
            &.item-11{
                color: rgba(255 ,  121,  0, 1);
            }
            &.item-12{
                color: rgba(196 ,  48,  43, 1);
            }
            &.item-13{
                color: rgba(85 ,  119,  155, 1);
            }
            &.item-14{
                color: rgba(175 ,  6,  5, 1);
            }
            &.item-15{
                color: rgba(0, 0, 0, 1);
            }
            &.item-16{
                color: rgba(0 ,  99,  255, 1);
            }
            a{
                font-size: 30px;
            }
        }
    }

    .latest-news-list{
        ul{
            list-style: disc;
            margin-left: 25px;
            li{
                font-size: 14px;
                &:not(:last-child){
                    margin-bottom: 12px;
                }
                a{
                    @extend .theme-black;
                    &:hover{
                        text-decoration: underline;
                        @extend .theme-secondary;
                    }
                }
            }
        }
    }
    .news-module{
        ul{
            li{
                &:not(:last-child){
                    margin-bottom: 25px;
                }
                img{
                    max-width: 90px;
                    margin-right: 14px;
                }
                .news-info{
                    h5{
                        font-size: 14px;
                        line-height: 1.5;
                        font-weight: $medium;
                        @extend .theme-black;
                        a{
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    .date{
                        font-size: 12px;
                        opacity: .85;
                        @extend .theme-black;
                    }
                }
            }
        }
    }
}