/*=============================================
=           06: Clients CSS          =
=============================================*/

.client-slider{
    padding: 50px 0;
    .signle-client{
        img{
            width: auto;
            @include mobileSm{
                margin: 0 auto;
            }
        }
    }
}

.client-logos-area{
    &.client-logos-v2{
        border-bottom: 1px solid rgba(255 , 255, 255, 0.04);
        @extend .theme-secondary-bg;
        .client-slider{
            padding:30px 0;
        }
    }
}