// Color
@mixin colors($color, $class){
    .#{$class}{
        color: $color;
    }
    .#{$class}-bg{
        background-color: $color;
    }
}
 


// FontAwesome Icon 
@mixin fa($icon){
    font-family: 'FontAwesome';
    content: $icon;
}
    
    

// Media Queries

// XX. Extra Small Devices (less than 380px)
@mixin mobileXs() {
    @media only screen and (max-width: 379px){
        @content
    }
}
      
         

// XX. Small Devices (less than 480px)
@mixin mobileSm() {
    @media only screen and (max-width: 479px){
        @content
    }
}
      
         

// XX. Medium Devices (less than 576px)
@mixin mobileMd() {
    @media only screen and (max-width: 575px){
        @content
    }
}
      
         
    
// XX. Medium Devices (less than 768px)
@mixin mobileLg() {
    @media only screen and (max-width: 767px){
        @content 
    }
}
      
        
     
// XX. Medium Devices (less than 991px)
@mixin tab() {
    @media only screen and (max-width:991px){
        @content
    }
}
      

     
// XX. Large Devices (less than 1200px)
@mixin medium() {
    @media only screen and (max-width: 1199px){
        @content
    }
}
      
         
     
// XX. Extra Large Devices (More than 1200px)
@mixin large() {
    @media only screen and (min-width: 1200px) {
        @content
    }
}
    
         

// XX. Custom Devices
@mixin customMq($min-width, $max-width){
    @media only screen and (min-width: $min-width) and (max-width: $max-width){
        @content
    }
}
      
         