@import '0-base/variables';


/*=============================================
=           01: Helper CSS            =
=============================================*/



/* no gutters */
.no-gutters {
    margin-left: 0;
    margin-right: 0;
    & > .col, & > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }
}



/*=====  End of Helper CSS  ======*/

