<!-- Start About Info Area -->
<section class="about-info-area section-space--inner--r95">
    <!-- Start Container Fluid -->
    <div class="container-fluid custom-fluid">
        <div class="about-info-inner">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Start cta Content -->
                    <div class="cta-content" data-animate="fadeInUp">
                        <h5 class="line-title">REACH OUT NOW!</h5>
                        <h2>
                            We work with communities, companies, creatives, celebrities and countries.
                        </h2>
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                        </p>
                    </div>
                    <!-- End of Cta Content -->
                    <div class="about-counter d-flex justify-content-between">
                        <!-- Start Single Counter -->
                        <div class="single-about-counter" data-animate="fadeInUp">
                            <div class="counter-content">
                                <h2 class="count">1245</h2>
                                <span>screens</span>
                            </div>
                        </div>
                        <!-- End of Counter Content -->
                        <!-- Start Single Counter -->
                        <div class="single-about-counter" data-animate="fadeInUp" data-delay=".2">
                            <div class="counter-content">
                                <h2 class="count">30 </h2>
                                <span>verticals</span>
                            </div>
                        </div>
                        <!-- End of Counter Content -->
                        <!-- Start Single Counter -->
                        <div class="single-about-counter" data-animate="fadeInUp" data-delay=".3">
                            <div class="counter-content">
                                <h2 class="count">82</h2>
                                <span>brands</span>
                            </div>
                        </div>
                        <!-- End of Counter Content -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Start About Info Image -->
                    <div class="about-info-img" data-animate="fadeInUp">
                        <img src="assets/img/company.png" alt="Company Image">
                    </div>
                    <!-- End of About Info Image -->
                    <!-- Start About Action -->
                    <div class="about-info-action">
                        <a href="#" class="site-btn btn-large light-v1">Challenges are just opportunities in disguise. <b>Take the challenge!</b> <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                    <!-- End of About Action -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Container Fluid -->
</section>
<!-- End of About Info Area -->
