<!-- Start Award Area -->
<section class="award-area  section-space--inner--bottom--r95">
    <!-- Start Container Fluid -->
    <div class="container-fluid custom-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="award-content" data-animate="fadeInUp">
                    <h5 class="line-title">AWARDS & RECOGNITION</h5>
                    <h2>Our awards</h2>
                </div>
            </div>
            <div class="col-lg-8">
                <!-- Start Client Slider -->
                <div class="client-slider owl-carousel" data-owl-items="5" data-owl-margin="20" data-owl-nav="false" data-owl-responsive='{"0": {"items": "1"}, "479": {"items": "2"}, "575": {"items": "3"}, "767": {"items":"4"}, "991": {"items":"5"}}' data-animate="fadeInUp">
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/9.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/10.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/11.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/12.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/13.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                </div>
                <!-- End of Client Slider -->
            </div>
        </div>
    </div>
    <!-- End of Container Fluid -->
</section>
<!-- End of Award Area  -->
