<!-- Start Blog Area  -->
<div class="blog-area section-space--inner--r95">
    <!-- Start Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <aside class="sidebar">
                    <!-- Start Single Sidebar Item -->
                    <div class="single-sidebar" data-animate="fadeInUp">
                        <h5 class="sidebar-heading">Login Form</h5>
                        <div class="sidebar-content">
                            <div class="sidebar-login-form">
                                <form action="#">
                                    <!-- Start Form group -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input class="form-control" type="text" name="username" placeholder="Username">
                                        </div>
                                    </div>
                                    <!-- End of Form Group -->
                                    <!-- Start Form group -->
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input class="form-control" type="password" name="password" placeholder="Password">
                                        </div>
                                    </div>
                                    <!-- End of Form Group -->
                                    <!-- Start Form group -->
                                    <div class="form-group remember-group">
                                        <div class="input-group">
                                            <input type="checkbox" id="login-remember" name="remember">
                                            <label for="login-remember" class="control-lebel">Remember</label>
                                        </div>
                                    </div>
                                    <!-- End of Form Group -->
                                    <button type="submit" class="site-btn">Login</button>
                                </form>
                            </div>
                            <div class="login-links">
                                <a href="#">Forgot your username?</a>
                                <a href="#">Forgot your password?</a>
                            </div>
                        </div>
                    </div>
                    <!-- End of Single Sidebar Item -->
                    <!-- Start Single Sidebar Item -->
                    <div class="single-sidebar" data-animate="fadeInUp">
                        <h5 class="sidebar-heading">Search</h5>
                        <div class="sidebar-content">
                            <div class="search-form">
                                <form action="#">
                                    <input type="text" placeholder="Search ..">
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- End of Single Sidebar Item -->
                    <!-- Start Single Sidebar Item -->
                    <div class="single-sidebar" data-animate="fadeInUp">
                        <h5 class="sidebar-heading">Follow Us</h5>
                        <div class="sidebar-content">
                            <ul class="social-icon-links">
                                <li class="item-1"><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                                <li class="item-2"><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                                <li class="item-3"><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                                <li class="item-4"><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                                <li class="item-5"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li class="item-6"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li class="item-7"><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                                <li class="item-8"><a href="#"><i class="fa fa-youtube-square"></i></a></li>
                            </ul>
                            <ul class="social-icon-links">
                                <li class="item-9"><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                <li class="item-10"><a href="#"><i class="fa fa-flickr"></i></a></li>
                                <li class="item-11"><a href="#"><i class="fa fa-twitch"></i></a></li>
                                <li class="item-12"><a href="#"><i class="fa fa-rss-square"></i></a></li>
                                <li class="item-13"><a href="#"><i class="fa fa-vk"></i></a></li>
                                <li class="item-14"><a href="#"><i class="fa fa-yelp"></i></a></li>
                                <li class="item-15"><a href="#"><i class="fa fa-behance-square"></i></a></li>
                                <li class="item-16"><a href="#"><i class="fa fa-dropbox"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End of Single Sidebar Item -->

                    <!-- Start Single Sidebar Item -->
                    <div class="single-sidebar" data-animate="fadeInUp">
                        <h5 class="sidebar-heading">Latest Article</h5>
                        <div class="sidebar-content">
                            <div class="latest-news-list">
                                <ul>
                                    <li><a href="#">A Goat Showed Me the True Meaning of Being Open-Hearted</a></li>
                                    <li><a href="#">We Need More Research About the Psychological Effects of Miscarriage</a></li>
                                    <li><a href="#">How ‘Digital Nomads’ Game the System to Work in Paradise</a></li>
                                    <li><a href="#">Truth, Justice, or the American Way</a></li>
                                    <li><a href="#">Why do people praise about Business?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End of Single Sidebar Item -->

                    <!-- Start Single Sidebar Item -->
                    <div class="single-sidebar" data-animate="fadeInUp">
                        <h5 class="sidebar-heading">Popular Posts</h5>
                        <div class="sidebar-content">
                            <div class="news-module">
                                <ul>
                                    <li class="media">
                                        <img src="assets/img/blogs/2.jpg" alt="">
                                        <div class="news-info media-body">
                                            <h5>
                                                <a href="#">A Goat Showed Me the True Meaning of Being</a>
                                            </h5>
                                            <span class="date">08, Jul 2019</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img src="assets/img/blogs/3.jpg" alt="">
                                        <div class="news-info media-body">
                                            <h5>
                                                <a href="#">Truth, Justice, or the American Way</a>
                                            </h5>
                                            <span class="date">08, Jul 2019</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img src="assets/img/blogs/4.jpg" alt="">
                                        <div class="news-info media-body">
                                            <h5>
                                                <a href="#">How ‘Digital Nomads’ Game the System to Work in Paradise</a>
                                            </h5>
                                            <span class="date">08, Jul 2019</span>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <img src="assets/img/blogs/5.jpg" alt="">
                                        <div class="news-info media-body">
                                            <h5>
                                                <a href="#">Why do people praise about Business?</a>
                                            </h5>
                                            <span class="date">08, Jul 2019</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End of Single Sidebar Item -->
                </aside>
            </div>
            <div class="col-lg-8">
                <!-- Start Blog Inner -->
                <div class="blog-inner">
                    <div class="row">
                        <div class="col-12">
                            <!-- Start Single Blog -->
                            <div class="single-blog blog-v3" data-animate="fadeInUp">
                                <!-- Start Blog Image -->
                                <div class="blog-img">
                                    <a href="single-article.html">
                                        <img src="assets/img/blogs/2.jpg" alt="">
                                    </a>
                                </div>
                                <!-- End of Blog Image -->
                                <div class="blog-content">
                                    <h4>
                                        <a href="single-article.html">A Goat Showed Me the True Meaning of Being</a>
                                    </h4>
                                    <!-- Start Blog Meta -->
                                    <div class="blog-meta">
                                        <ul>
                                            <li><span>SUPER USER</span></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><span class="date">08 JULY 2019</span></li>
                                        </ul>
                                    </div>
                                    <!-- End of Blog Meta -->
                                    <!-- Start Blog Text -->
                                    <div class="blog-text">
                                        <p>
                                            Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                                        </p>
                                        <a href="single-article.html">Read more ...</a>
                                    </div>
                                    <!-- End of Blog Text -->
                                </div>
                                
                            </div>
                            <!-- End of Single Blog -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Start Single Blog -->
                            <div class="single-blog blog-v3" data-animate="fadeInUp">
                                <!-- Start Blog Image -->
                                <div class="blog-img">
                                    <a href="single-article.html">
                                        <img src="assets/img/blogs/7.jpg" alt="">
                                    </a>
                                </div>
                                <!-- End of Blog Image -->
                                <div class="blog-content">
                                    <h4>
                                        <a href="single-article.html">We Need More Research About the Psychological</a>
                                    </h4>
                                    <!-- Start Blog Meta -->
                                    <div class="blog-meta">
                                        <ul>
                                            <li><span>SUPER USER</span></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><span class="date">08 JULY 2019</span></li>
                                        </ul>
                                    </div>
                                    <!-- End of Blog Meta -->
                                    <!-- Start Blog Text -->
                                    <div class="blog-text">
                                        <p>
                                            Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                                        </p>
                                        <a href="single-article.html">Read more ...</a>
                                    </div>
                                    <!-- End of Blog Text -->
                                </div>
                                
                            </div>
                            <!-- End of Single Blog -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Start Single Blog -->
                            <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".2">
                                <!-- Start Blog Image -->
                                <div class="blog-img">
                                    <a href="single-article.html">
                                        <img src="assets/img/blogs/3.jpg" alt="">
                                    </a>
                                </div>
                                <!-- End of Blog Image -->
                                <div class="blog-content">
                                    <h4>
                                        <a href="single-article.html">Truth, Justice, or the American Way</a>
                                    </h4>
                                    <!-- Start Blog Meta -->
                                    <div class="blog-meta">
                                        <ul>
                                            <li><span>SUPER USER</span></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><span class="date">08 JULY 2019</span></li>
                                        </ul>
                                    </div>
                                    <!-- End of Blog Meta -->
                                    <!-- Start Blog Text -->
                                    <div class="blog-text">
                                        <p>
                                            Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                                        </p>
                                        <a href="single-article.html">Read more ...</a>
                                    </div>
                                    <!-- End of Blog Text -->
                                </div>
                                
                            </div>
                            <!-- End of Single Blog -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Start Single Blog -->
                            <div class="single-blog blog-v3" data-animate="fadeInUp">
                                <!-- Start Blog Image -->
                                <div class="blog-img">
                                    <a href="single-article.html">
                                        <img src="assets/img/blogs/4.jpg" alt="">
                                    </a>
                                </div>
                                <!-- End of Blog Image -->
                                <div class="blog-content">
                                    <h4>
                                        <a href="single-article.html">How ‘Digital Nomads’ Game the System to Work in</a>
                                    </h4>
                                    <!-- Start Blog Meta -->
                                    <div class="blog-meta">
                                        <ul>
                                            <li><span>SUPER USER</span></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><span class="date">08 JULY 2019</span></li>
                                        </ul>
                                    </div>
                                    <!-- End of Blog Meta -->
                                    <!-- Start Blog Text -->
                                    <div class="blog-text">
                                        <p>
                                            Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                                        </p>
                                        <a href="single-article.html">Read more ...</a>
                                    </div>
                                    <!-- End of Blog Text -->
                                </div>
                                
                            </div>
                            <!-- End of Single Blog -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Start Single Blog -->
                            <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".2">
                                <!-- Start Blog Image -->
                                <div class="blog-img">
                                    <a href="single-article.html">
                                        <img src="assets/img/blogs/5.jpg" alt="">
                                    </a>
                                </div>
                                <!-- End of Blog Image -->
                                <div class="blog-content">
                                    <h4>
                                        <a href="single-article.html">Why do people praise about Business?</a>
                                    </h4>
                                    <!-- Start Blog Meta -->
                                    <div class="blog-meta">
                                        <ul>
                                            <li><span>SUPER USER</span></li>
                                            <li><a href="#">Blog</a></li>
                                            <li><span class="date">08 JULY 2019</span></li>
                                        </ul>
                                    </div>
                                    <!-- End of Blog Meta -->
                                    <!-- Start Blog Text -->
                                    <div class="blog-text">
                                        <p>
                                            Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                                        </p>
                                        <a href="single-article.html">Read more ...</a>
                                    </div>
                                    <!-- End of Blog Text -->
                                </div>
                                
                            </div>
                            <!-- End of Single Blog -->
                        </div>
                    </div>
                </div>
                <!-- End of Blog Inner -->
                <!-- Start More Items -->
                <div class="more-items" data-animate="fadeInUp">
                    <div class="row">
                        <div class="col-12">
                            <div class="more-items-list">
                                <ol>
                                    <li><a href="#">5 Ways Technology Has Improved  Business Today</a></li>
                                    <li><a href="#">How Wireless Technology is Changing Business</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of More Items -->

                <!-- Start Pagination -->
                <div class="pagination d-flex justify-content-center" data-animate="fadeInUp">
                    <ul>
                        <li class="pagination-start">
                            <span class="pagi-text">Start</span>
                        </li>
                        <li class="pagination-end">
                            <span class="pagi-text">Prev</span>
                        </li>
                        <li>
                            <span class="pagi-text">1</span>
                        </li>
                        <li>
                            <a class="pagi-text" href="#">2</a>
                        </li>
                        <li class="pagination-next">
                            <a href="#" class="page-text" data-toggle="tooltip"  data-placement="top" title="Next">Next</a>
                        </li>
                        <li class="pagination-next">
                            <a href="#" class="page-text" data-toggle="tooltip"  data-placement="top" title="End">End</a>
                        </li>
                    </ul>
                </div>
                <!-- End of Pagination -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Blog Area -->
