<!-- Start Blog Area -->
<section class="blog-area section-space--inner--bottom--r95">
    <!-- Start container fluid -->
    <div class="container-fluid custom-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Start Section Title -->
                <div class="section-title" data-animate="fadeInUp">
                    <h5 class="line-title">Recently published</h5>
                    <h4>Interesting articles updated daily</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                    </p>
                </div>
                <!-- End of Section Title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <!-- Start Single Blog -->
                <div class="single-blog space-md-b90" data-animate="fadeInUp">
                    <!-- Start Blog Meta -->
                    <div class="blog-meta line-title blog-meta-v2">
                        <ul>
                            <li><span>21 May 2019</span></li>
                            <li><span>SUPER ADMIN</span></li>
                            <li><span>Blog</span></li>
                        </ul>
                    </div>
                    <!-- End of Blog Meta -->
                    <h4>
                        <a href="single-article.html">How Wireless Technology is Changing Business</a>
                    </h4>
                    <!-- Start Blog Details -->
                    <div class="blog-details">
                        <!-- Start Blog Image -->
                        <div class="blog-img">
                            <a href="single-article.html">
                                <img src="assets/img/blogs/1.jpg" alt="Blog Image">
                            </a>
                        </div>
                        <!-- End of Blog Image -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <P>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </P>
                            <a href="single-article.html" class="icon-btn">Read Article <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    <!-- ENd of Blog Details -->
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-lg-6">
                <!-- Single Blog -->
                <div class="single-blog blog-v2" data-animate="fadeInUp">
                    <h4>
                        <a href="single-article.html">A Goat Showed Me the True Meaning of Being Open-Hearted</a>
                    </h4>
                    <span class="blog-date"><i class="fa fa-calendar"></i>8th July , 2019</span>
                    <!-- Start Blog Details -->
                    <div class="blog-detials">
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <P>
                                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                            </P>
                            <a href="single-article.html" class="icon-btn">Read Article <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <!-- End of blog Text -->
                    </div>
                    <!-- End of Blog Details -->
                </div>
                <!-- End of Single Blog -->
                <!-- Single Blog -->
                <div class="single-blog blog-v2" data-animate="fadeInUp" data-delay=".2">
                    <h4>
                        <a href="#">5 Ways Technology Has Improved Business Today</a>
                    </h4>
                    <span class="blog-date"><i class="fa fa-calendar"></i>8th July , 2019</span>
                    <!-- Start Blog Details -->
                    <div class="blog-detials">
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <P>
                                Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage.
                            </P>
                            <a href="single-article.html" class="icon-btn">Read Article <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <!-- End of blog Text -->
                    </div>
                    <!-- End of Blog Details -->
                </div>
                <!-- End of Single Blog -->
                <!-- Start More Button -->
                <div class="more-btn text-right" data-animate="fadeInUp">
                    <a href="blogs.html" class="site-btn btn-large">More on the blog <i class="fa fa-long-arrow-right"></i></a>
                </div>
                <!-- End of More Button -->
            </div>
        </div>
    </div>
    <!-- End of Container fluid -->
</section>
<!-- End of Blog Area -->
