<!-- Start Blog List Area -->
<div class="blog-list-area section-space--inner--r95">
    <!-- Start Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="single-article.html">
                            <img src="assets/img/blogs/2.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="single-article.html">A Goat Showed Me the True Meaning of Being</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="single-article.html">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".2">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="single-article.html">
                            <img src="assets/img/blogs/3.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="single-article.html">Truth, Justice, or the American Way</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="single-article.html">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".3">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="single-article.html">
                            <img src="assets/img/blogs/4.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="single-article.html">How ‘Digital Nomads’ Game to Work in</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="single-article.html">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".1">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="single-article.html">
                            <img src="assets/img/blogs/5.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="single-article.html">Why do people praise about Business?</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="single-article.html">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".2">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="single-article.html">
                            <img src="assets/img/blogs/6.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="single-article.html">Truth, Justice, or the American Way</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="single-article.html">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".3">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="single-article.html">
                            <img src="assets/img/blogs/7.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="single-article.html">We Need More Research About the Psychological</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="single-article.html">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Start Pagination -->
                <div class="pagination d-flex justify-content-center" data-animate="fadeInUp">
                    <ul>
                        <li class="pagination-start">
                            <span class="pagi-text">Start</span>
                        </li>
                        <li class="pagination-end">
                            <span class="pagi-text">Prev</span>
                        </li>
                        <li>
                            <span class="pagi-text">1</span>
                        </li>
                        <li>
                            <a class="pagi-text" href="#">2</a>
                        </li>
                        <li class="pagination-next">
                            <a href="#" class="page-text"  data-toggle="tooltip"  data-placement="top" title="Next">Next</a>
                        </li>
                        <li class="pagination-next">
                            <a href="#" class="page-text"  data-toggle="tooltip"  data-placement="top" title="End">End</a>
                        </li>
                    </ul>
                </div>
                <!-- End of Pagination -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Blog List Area -->
