<!-- Start Call To Action -->
<section class="cta-area bg-cover section-space--inner--r95" data-bg-img="assets/img/cta-bg.jpg">
    <!-- Start Container Fluid -->
    <div class="container-fluid custom-fluid">
        <div class="row">
            <div class="col-lg-8">
                <!-- Start CTA content -->
                <div class="cta-content" data-animate="fadeInUp">
                    <h5 class="line-title">REACH OUT NOW!</h5>
                    <h2>
                        We’re available for 8 hours a day!
                        Contact to require a detailed analysis and 
                        assessment of your plan.
                    </h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                    </p>
                </div>
                <!-- End of CTA Content -->
            </div>
            <div class="col-lg-3 offset-lg-1">
                <!-- Start CTA contact -->
                <div class="cta-contact" data-animate="fadeInUp" data-delay=".2">
                    <div class="contact-icon">
                        <img src="assets/img/phone-icon.png" alt="Phone Icon">
                    </div>
                    <h4 class="phone-num">990 456 4587 000</h4>
                    <a href="contact.html" class="site-btn btn-large light-v1">Contact Us <i class="fa fa-long-arrow-right"></i></a>
                </div>
                <!-- End of CTA contact -->
            </div>
        </div>
    </div>
    <!-- End of Container Fluid -->
</section>
<!-- End of Call To Action -->
