<!-- Start Client Logos Area -->
<div class="client-logos-area white-bg">
    <!-- Start container -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Start Client Slider -->
                <div class="client-slider owl-carousel" data-owl-items="4" data-owl-margin="75" data-owl-nav="false" data-owl-responsive='{"0": {"items": "1"}, "575": {"items": "2"}, "991": {"items":"3"}, "992": {"items":"4"}}' data-animate="fadeInUp">
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/1.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/2.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/3.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/2.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/1.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                </div>
                <!-- End of Client Slider -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Client Logos -->
