<!-- Start Client Logos Area -->
<div class="client-logos-area client-logos-v2">
    <!-- Start container -->
    <div class="container-fluid custom-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <!-- Start Client Slider -->
                <div class="client-slider owl-carousel" data-owl-items="5" data-owl-margin="100" data-owl-nav="false" data-owl-responsive='{"0": {"items": "1"}, "575": {"items": "3"}, "767": {"items":"4"}, "991": {"items":"5"}}' data-animate="fadeInUp">
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/4.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/5.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/6.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/7.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                    <!-- Start Single Client -->
                    <div class="signle-client">
                        <img src="assets/img/clients/8.png" alt="Client Image">
                    </div>
                    <!-- End of Client Slider -->
                </div>
                <!-- End of Client Slider -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Client Logos -->
