<!-- Start Contact Area -->
<div class="contact-area">
    <!-- Start Cntact Map -->
    <div class="contact-map">
        <div id="location-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3651.83307717605!2d90.37697376429699!3d23.753331194582774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b8adc347d15b%3A0x47e50830d523eacb!2sSukrabad%20Rd%2C%20Dhaka%201205!5e0!3m2!1sen!2sbd!4v1577113062414!5m2!1sen!2sbd" width="100%" height="670" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
    <!-- End of Contact Map -->
    <!-- Start Contact Block -->
    <div class="contact-block">
        <!-- Start Container -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-block-inner d-flex" data-animate="fadeInUp">
                        <!-- Start Contact Form -->
                        <div class="contact-form">
                            <form action="php/mail.php" method="post">
                                <div class="form-element">
                                    <input type="text" name="name" placeholder="Full Name">
                                </div>
                                <div class="form-element">
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                                <div class="form-element">
                                    <textarea name="message" placeholder="Message"></textarea>
                                </div>
                                <div class="form-element">
                                    <button type="submit" class="site-btn btn-large">Send</button>
                                </div>
                            </form>
                        </div>
                        <!-- End of Contact Form -->
                        <!-- Start Contact Details -->
                        <div class="contact-details">
                            <h4>Contact Us</h4>
                            <!-- Start Contact Info List -->
                            <div class="contact-info-list">
                                <ul>
                                    <li class="media">
                                        <i class="fa fa-map-marker"></i>
                                        <span class="info-text media-body">
                                            784 White Avenue, Corpus Christi, TX, Texas
                                        </span>
                                    </li>
                                    <li class="media">
                                        <i class="fa fa-mobile-phone"></i>
                                        <span class="info-text media-body">
                                                361-683-4494
                                        </span>
                                    </li>
                                    <li class="media">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="info-text media-body">
                                                info@support.com
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of Contact Info List -->
                            <!-- Start Social Link -->
                            <div class="social-link">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-yahoo"></i></a></li>
                                </ul>
                            </div>
                            <!-- End of Social Link -->
                        </div>
                        <!-- End of Conact Details -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End of COnainer -->
    </div>
    <!-- End of Contact Block -->
</div>
<!-- End of Contact Area -->
