<!-- Start Edit Profile Content -->
<div class="edit-profile-area section-space--inner--r95">
    <!-- Start Container -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Start Profile Content -->
                <div class="account-block">
                    <!-- Start Profile Form -->
                    <div class="profile-form label-bold">
                        <form action="#">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element text-center">
                                        <label for="user-img">User Image</label>
                                        <input type="file" name="user-img" id="user-img">
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element">
                                        <label for="firstname">First Name <span class="require-star">*</span></label>
                                        <input class="checkValidation" type="text" name="firstname" id="firstname" required>
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element">
                                        <label for="lastname">Last Name <span class="require-star">*</span></label>
                                        <input class="checkValidation" type="text" name="lastname" id="lastname" required>
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <label for="email">Email <span class="require-star">*</span></label>
                                        <input class="checkValidation" type="email" name="email" id="email" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <label for="phone">Phone <span class="require-star">*</span></label>
                                        <input class="checkValidation" type="text" name="phone" id="phone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-element">
                                        <label for="bio">Biography</label>
                                        <textarea name="biography" id="bio"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-element">
                                        <label for="address">Address</label>
                                        <textarea name="address" id="address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button type="submit" class="site-btn">Edit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- End of Profile Form -->
                </div>
                <!-- End of Profile Content  -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Edit Profile Content  -->
