<!-- Start Error Content -->
<div class="error-area">
    <!-- Start Container  -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <!-- Start Error Content -->
                <div class="error-content text-center">
                    <h2>
                        4 <span>0</span> 4
                    </h2>
                    <span class="error-text">Oops! That page can’t be found.</span>
                    <div class="error-bottom-action">
                        <a href="index.html" class="site-btn btn-large">Go to Home <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
                <!-- End of Error Content -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Error Content -->
