<!-- Start Featured Article Content -->
<div class="featured-article-area section-space--inner--r95">
    <!-- Start Container -->
    <div class="container">
        <div class="row">
            <div class="col-12">
               <!-- Start Single Blog -->
               <div class="single-blog blog-v3" data-animate="fadeInUp">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="#">
                            <img src="assets/img/blogs/2.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="#">A Goat Showed Me the True Meaning of Being</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="#">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-md-6"> 
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="#">
                            <img src="assets/img/blogs/7.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="#">We Need More Research About the Psychological</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                How ‘Digital Nomads’ Game the System to Work in Paradise
                            </p>
                            <a href="#">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-md-6"> 
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".2">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="#">
                            <img src="assets/img/blogs/3.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="#">How ‘Digital Nomads’ Game to Work in Paradise</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="#">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-md-6"> 
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".2">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="#">
                            <img src="assets/img/blogs/4.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="#">Why do people praise about Business?</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="#">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
            <div class="col-md-6"> 
                <!-- Start Single Blog -->
                <div class="single-blog blog-v3" data-animate="fadeInUp" data-delay=".3">
                    <!-- Start Blog Image -->
                    <div class="blog-img">
                        <a href="#">
                            <img src="assets/img/blogs/5.jpg" alt="">
                        </a>
                    </div>
                    <!-- End of Blog Image -->
                    <div class="blog-content">
                        <h4>
                            <a href="#">We Need More Research About the Psychological Effects of Miscarriage</a>
                        </h4>
                        <!-- Start Blog Meta -->
                        <div class="blog-meta">
                            <ul>
                                <li><span>SUPER USER</span></li>
                                <li><a href="#">Blog</a></li>
                                <li><span class="date">08 JULY 2019</span></li>
                            </ul>
                        </div>
                        <!-- End of Blog Meta -->
                        <!-- Start Blog Text -->
                        <div class="blog-text">
                            <p>
                                Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                            </p>
                            <a href="#">Read more ...</a>
                        </div>
                        <!-- End of Blog Text -->
                    </div>
                    
                </div>
                <!-- End of Single Blog -->
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <!-- Start More Item List -->
                <div class="more-items-list" data-animate="fadeInUp">
                    <ol>
                        <li><a href="#">5 Ways Technology Has Improved  Business Today</a></li>
                        <li><a href="#">How Wireless Technology is Changing Business</a></li>
                    </ol>
                </div>
                <!-- End of More Item List -->
            </div>
            <div class="col-12">
                <!-- Start Pagination -->
                <div class="pagination d-flex justify-content-center">
                    <ul>
                        <li class="pagination-start">
                            <span class="pagi-text">Start</span>
                        </li>
                        <li class="pagination-end">
                            <span class="pagi-text">Prev</span>
                        </li>
                        <li>
                            <span class="pagi-text">1</span>
                        </li>
                        <li>
                            <a class="pagi-text" href="#">2</a>
                        </li>
                        <li class="pagination-next">
                            <a href="#" class="page-text"  data-toggle="tooltip"  data-placement="top" title="Next">Next</a>
                        </li>
                        <li class="pagination-next">
                            <a href="#" class="page-text"  data-toggle="tooltip"  data-placement="top" title="End">End</a>
                        </li>
                    </ul>
                </div>
                <!-- End of Pagination -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Featured Article Cntent -->
