<!-- Start Slider Area -->
<div class="hero-area" data-bg-img="assets/img/slider-bg.jpg">
    <!-- Start Container -->
    <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <!-- Start Hero Slider -->
                <div class="hero-slider owl-carousel" data-owl-nav="false" data-owl-dots="true" data-owl-autoplay="false">
                    <!-- Start Single Slider -->
                    <div class="single-slider">
                        <h2>Business solutions for ambitious, fast growing brands.</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                        </p>
                        <a href="#" class="site-btn btn-large">Know More Us <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                    <!-- Emd of Single Slider -->
                    <!-- Start Single Slider -->
                    <div class="single-slider">
                        <h2>Business solutions for branding.</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                        </p>
                        <a href="#" class="site-btn btn-large">Know More Us <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                    <!-- Emd of Single Slider -->
                    <!-- Start Single Slider -->
                    <div class="single-slider">
                        <h2>Business is build on friendship.</h2>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                        </p>
                        <a href="#" class="site-btn btn-large">Know More Us <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                    <!-- Emd of Single Slider -->
                </div>
                <!-- End of Hero Slider -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Slider Area -->
