<!-- Start Login Area -->
<section class="login-area section-space--inner--r95">
    <!-- Start Login Area -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="account-block">
                    <div class="form-title">
                        <h4>Login your account</h4>
                    </div>
                    <form action="#">
                        <!-- Start Login Form -->
                        <div class="login-form">
                            <!-- Start Form Element -->
                            <div class="form-element">
                                <label for="username">User Name <span class="require-star">*</span></label>
                                <input class="checkValidation" type="text" name="username" id="username">
                            </div>
                            <!-- End of Form Element -->
                            <!-- Start Form Element -->
                            <div class="form-element">
                                <label for="password">Passowrd <span class="require-star">*</span></label>
                                <input class="checkValidation" type="text" name="password" id="password">
                            </div>
                            <!-- End of Form Element -->
                            <!-- Start Form Element -->
                            <div class="form-element d-flex justify-content-between align-items-center">
                                <button type="submit" class="site-btn">Log In</button>
                                <div class="remember-checkbox">
                                    <input type="checkbox" name="remember" id="remember" value="01">
                                    <label for="remember">Remember Me</label>
                                </div>
                            </div>
                            <!-- End of Form Element -->
                        </div>
                        <!-- End of Login Form -->
                    </form>
                    <div class="reset-links">
                        <a href="#">Forgot your username?</a>
                        <span>|</span>
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Login Area -->
</section>
<!-- End of Login Area -->
