<!-- Start Our Service Area  -->
<section class="major-service-area section-space--inner--bottom--r95">
    <!-- Start Container Fluid -->
    <div class="container-fluid custom-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Start Major Service Inner -->
                <div class="major-service-inner d-flex">
                    <div class="service-left bg-cover" data-bg-img="assets/img/service-bg-1.jpg">

                    </div>
                    <div class="service-right bg-cover" data-bg-img="assets/img/service-bg-2.jpg">
                        <div class="service-right-content">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Start Section Title -->
                                    <div class="section-title section-title-v2" data-animate="fadeInUp">
                                        <h5 class="line-title">OUR SERVICES</h5>
                                        <h4>Services we can help you with.</h4>
                                    </div>
                                    <!-- End of Section Title -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="major-service-list service-list1" data-animate="fadeInLeft">
                                        <!-- Start Single Major Service -->
                                        <div class="single-major-service active">
                                            <h4 class="service-title title1">Illustrations & Iconography</h4>
                                            <div id="service-text-1" class="major-service-text active service-text1">
                                                <p>
                                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of Single Major Service -->
                                        <!-- Start Single Major Service -->
                                        <div class="single-major-service">
                                            <h4 class="service-title title1">Motion Design & Animation</h4>
                                            <div class="major-service-text service-text1">
                                                <p>
                                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of Single Major Service -->
                                        <!-- Start Single Major Service -->
                                        <div class="single-major-service">
                                            <h4 class="service-title title1">Mobile App Development</h4>
                                            <div class="major-service-text service-text1">
                                                <p>
                                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of Single Major Service -->
                                        <!-- Start Single Major Service -->
                                        <div class="single-major-service">
                                            <h4 class="service-title title1">UI/UX Design</h4>
                                            <div class="major-service-text service-text1">
                                                <p>
                                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of Single Major Service -->
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="major-service-list service-list2" data-animate="fadeInRight">
                                        <!-- Start Single Major Service -->
                                        <div class="single-major-service active">
                                            <h4 class="service-title title2">Research & Discovery</h4>
                                            <div id="service-text-5" class="major-service-text service-text2 active">
                                                <p>
                                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of Single Major Service -->
                                        <!-- Start Single Major Service -->
                                        <div class="single-major-service">
                                            <h4 class="service-title title2">Prototyping & Interactions</h4>
                                            <div id="service-text-6" class="major-service-text service-text2">
                                                <p>
                                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of Single Major Service -->
                                        <!-- Start Single Major Service -->
                                        <div class="single-major-service">
                                            <h4 class="service-title title2">Competitive Analysis</h4>
                                            <div id="service-text-7" class="major-service-text service-text2">
                                                <p>
                                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of Single Major Service -->
                                        <!-- Start Single Major Service -->
                                        <div class="single-major-service">
                                            <h4 class="service-title title2">Front-End Development</h4>
                                            <div id="service-text-8" class="major-service-text service-text2">
                                                <p>
                                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                                </p>
                                            </div>
                                        </div>
                                        <!-- End of Single Major Service -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="service-bottom-action" data-animate="fadeInUp">
                                        <a href="#" class="site-btn btn-large light-v1">Challenges are just opportunities in disguise. <b>Take the challenge!</b> <i class="fa fa-long-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Major Service Inner -->
            </div>
        </div>
    </div>
    <!-- End of Container Fluid -->
</section>
<!-- End of Our Service Area -->
