<!-- Start Profile Content -->
<section class="profile-area section-space--inner--r95">
    <!-- Start Container -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Start Account Block -->
                <div class="account-block">
                    <!-- Start Profile Content -->
                    <div class="profile-content">
                        <div class="profile-img">
                            <img src="assets/img/user/1.png" alt="User Image">
                        </div>
                        <div class="profile-name text-center">
                            <h4 class="user-name">Michel Ninja</h4>
                        </div>
                        <div class="profile-info">
                            <!-- Start Single Info Block -->
                            <div class="single-info-block">
                                <h5>Biography:</h5>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto repellat ipsa fugit.
                                </p>
                            </div>
                            <!-- End of Single Info Block -->
                            <!-- Start Single Info Block -->
                            <div class="single-info-block">
                                <h5>Contact:</h5>
                                <p>
                                    <i class="fa fa-envelope-o"></i> info@support.com
                                </p>
                                <p>
                                    <i class="fa fa-mobile"></i> 361-683-4494
                                </p>
                            </div>
                            <!-- End of Single Info Block -->
                            <!-- Start Single Info Block -->
                            <div class="single-info-block">
                                <h5>Address:</h5>
                                <p>
                                    <i class="fa fa-map-marker"></i> 784 White Avenue, Corpus Christi, TX, Texas
                                </p>
                            </div>
                            <!-- End of Single Info Block -->
                        </div>
                    </div>
                    <!-- End of Profile Content -->
                </div>
                <!-- End of Account Block  -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</section>
<!-- End of Profile Content  -->
