<!-- Start Recent Work -->
<section class="recent-work section-space--inner--bottom--r95">
    <div class="recent-work-wrap d-flex flex-wrap">
        <!-- Start Recent Work Left -->
        <div class="recent-work-left" data-animate="fadeInLeft">
            <!-- Start Section Title -->
            <div class="section-title">
                <h5 class="line-title">OUR WORK</h5>
                <h4>See our recent work</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                </p>
            </div>
            <!-- End of Section Title -->
        </div>
        <!-- End of Recent Work Left -->
        <!-- Start Recent Work Right -->
        <div class="recent-work-right" data-animate="fadeInRight">
            <div class="portfolio-slider owl-carousel" data-owl-items="3" data-owl-margin="15" data-owl-nav="false" data-owl-dots="true" data-owl-responsive='{"0": {"items": "1"}, "575": {"items": "2"}, "992": {"items":"3"}, "1200": {"items":"3"}}'>
                <!-- Start Single Portfolio -->
                <div class="single-portfolio">
                    <img src="assets/img/portfoio/1.jpg" alt="Portfolio Image">
                </div>
                <!-- End of Single Portfolio -->
                <!-- Start Single Portfolio -->
                <div class="single-portfolio">
                    <img src="assets/img/portfoio/2.jpg" alt="Portfolio Image">
                </div>
                <!-- End of Single Portfolio -->
                <!-- Start Single Portfolio -->
                <div class="single-portfolio">
                    <img src="assets/img/portfoio/3.jpg" alt="Portfolio Image">
                </div>
                <!-- End of Single Portfolio -->
                <!-- Start Single Portfolio -->
                <div class="single-portfolio">
                    <img src="assets/img/portfoio/4.jpg" alt="Portfolio Image">
                </div>
                <!-- End of Single Portfolio -->
            </div>
        </div>
        <!-- End of Recent Work Right -->
    </div>
</section>
<!-- End of Recent Work  -->
