<!-- Start Registration Area -->
<section class="registration-area section-space--inner--r95">
    <!-- Start Container Area -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="account-block">
                    <div class="form-title">
                        <h4>Registration Form</h4>
                    </div>
                    <form action="#">
                        <!-- Start Login Form -->
                        <div class="registration-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element">
                                        <label for="firstname">First Name <span class="require-star">*</span></label>
                                        <input class="checkValidation" type="text" name="firstname" id="firstname" required>
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element">
                                        <label for="lastname">Last Name <span class="require-star">*</span></label>
                                        <input class="checkValidation" type="text" name="lastname" id="lastname" required>
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email">
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element">
                                        <label for="mobile">Mobile No</label>
                                        <input type="text" name="mobile-no" id="mobile">
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element">
                                        <label for="username">User Name <span class="require-star">*</span></label>
                                        <input class="checkValidation" type="text" name="username" id="username" required>
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                                <div class="col-lg-6">
                                    <!-- Start Form Element -->
                                    <div class="form-element">
                                        <label for="password">Passowrd <span class="require-star">*</span></label>
                                        <input class="checkValidation" type="text" name="password" id="password">
                                    </div>
                                    <!-- End of Form Element -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                     <button type="submit" class="site-btn">Register</button>
                                </div>
                            </div>
                        </div>
                        <!-- End of Login Form -->
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Container Area -->
</section>
<!-- End of Registration Area -->
