<!-- Start Search Content -->
<section class="search-area section-space--inner--r95">
    <!-- Start Container  -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="search-content" data-animate="fadeInUp">
                    <!-- Start Search Form -->
                    <div class="search-form">
                        <form action="#">
                            <div class="search-input">
                                <input type="text" name="search" placeholder="Search Keyword">
                                <button type="submit" class="site-btn btn-large" data-toggle="tooltip"  data-placement="top" title="search"><i class="fa fa-search"></i>Search</button>
                            </div>
                            <div class="search-actions">
                                <!-- Start Action Left -->
                                <div class="action-left">
                                    <h4 class="action-title">Search For:</h4>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="search-radio-list">
                                                <!-- Start Single Radio -->
                                                <div class="single-radio">
                                                    <input type="radio" name="search-phrase" id="search-all" value="all" checked="checked">
                                                    <label for="search-all">All</label>
                                                </div>
                                                <!-- End of Single Radio -->
                                                <!-- Start Single Radio -->
                                                <div class="single-radio">
                                                    <input type="radio" name="search-phrase" id="search-any" value="any">
                                                    <label for="search-any">Any</label>
                                                </div>
                                                <!-- End of Single Radio -->
                                                <!-- Start Single Radio -->
                                                <div class="single-radio">
                                                    <input type="radio" name="search-phrase" id="search-exact" value="exact">
                                                    <label for="search-exact">Exact Phrase</label>
                                                </div>
                                                <!-- End of Single Radio -->
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="search-ordering">
                                                <label for="search-ordering">Ordering</label>
                                                <select name="search-ordering" id="search-ordering">
                                                    <option value="new">Newest</option>
                                                    <option value="old">Oldest</option>
                                                    <option value="popular">Most Popular</option>
                                                    <option value="alphabetical">Alphabetical</option>
                                                    <option value="category">Category</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End of Action Left -->
                                <!-- Start Action Right -->
                                <div class="action-right">
                                    <h4 class="action-title">Search Only:</h4>
                                    <div class="search-ckeckboxlist">
                                        <!-- Start Single Category -->
                                        <div class="single-checkbox">
                                            <input type="checkbox" name="areas" id="area-categorie" value="category">
                                            <label>Category</label>
                                        </div>
                                        <!-- End of Single Category -->
                                        <!-- Start Single Category -->
                                        <div class="single-checkbox">
                                            <input type="checkbox" name="areas" id="area-contract" value="contract">
                                            <label>Contracts</label>
                                        </div>
                                        <!-- End of Single Category -->
                                        <!-- Start Single Category -->
                                        <div class="single-checkbox">
                                            <input type="checkbox" name="areas" id="area-article" value="article">
                                            <label>Articles</label>
                                        </div>
                                        <!-- End of Single Category -->
                                        <!-- Start Single Category -->
                                        <div class="single-checkbox">
                                            <input type="checkbox" name="areas" id="area-newsfeed" value="newsfeed">
                                            <label>News Feed</label>
                                        </div>
                                        <!-- End of Single Category -->
                                        <!-- Start Single Category -->
                                        <div class="single-checkbox">
                                            <input type="checkbox" name="areas" id="area-tags" value="tags">
                                            <label>Tags</label>
                                        </div>
                                        <!-- End of Single Category -->
                                    </div>
                                </div>
                                <!-- End of Action Right -->
                            </div>
                        </form>
                    </div>
                    <!-- End of Search Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Container -->
</section>
<!-- End of Search Content -->
