<!-- Start Service List Area -->
<section class="service-list-area section-space--inner--r95">
    <!-- Start Container Fluid -->
    <div class="container-fluid custom-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <!-- Start Section Title -->
                <div class="section-title section-title-v4 text-center" data-animate="fadeInUp">
                    <h4>Services we can help you with</h4>
                    <p>
                        By combining documentation with real-time API logs, Onepager makes your API easy to use and helps you understand your developers.
                    </p>
                </div>
                <!-- End of Section Title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Service -->
                <div class="single-service service-v2 media" data-animate="fadeInUp">
                    <!-- Start Service Icon -->
                    <figure class="service-icon">
                        <img src="assets/img/services/5.png" alt="Service Icon">
                    </figure>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content media-body">
                        <h4>Collaboration</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical latin literature from 45 BC.
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Service -->
                <div class="single-service service-v2 media" data-animate="fadeInUp" data-delay=".2">
                    <!-- Start Service Icon -->
                    <figure class="service-icon">
                        <img src="assets/img/services/5.png" alt="Service Icon">
                    </figure>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content media-body">
                        <h4>Theme Builder</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical latin literature from 45 BC.
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Service -->
                <div class="single-service service-v2 media" data-animate="fadeInUp" data-delay=".3">
                    <!-- Start Service Icon -->
                    <figure class="service-icon">
                        <img src="assets/img/services/5.png" alt="Service Icon">
                    </figure>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content media-body">
                        <h4>API Explorer</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical latin literature from 45 BC.
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Service -->
                <div class="single-service service-v2 media" data-animate="fadeInUp" data-delay=".1">
                    <!-- Start Service Icon -->
                    <figure class="service-icon">
                        <img src="assets/img/services/5.png" alt="Service Icon">
                    </figure>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content media-body">
                        <h4>Collaboration</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical latin literature from 45 BC.
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Service -->
                <div class="single-service service-v2 media" data-animate="fadeInUp" data-delay=".2">
                    <!-- Start Service Icon -->
                    <figure class="service-icon">
                        <img src="assets/img/services/5.png" alt="Service Icon">
                    </figure>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content media-body">
                        <h4>Theme Builder</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical latin literature from 45 BC.
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- Start Single Service -->
                <div class="single-service service-v2 media" data-animate="fadeInUp" data-delay=".3">
                    <!-- Start Service Icon -->
                    <figure class="service-icon">
                        <img src="assets/img/services/5.png" alt="Service Icon">
                    </figure>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content media-body">
                        <h4>API Explorer</h4>
                        <p>
                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical latin literature from 45 BC.
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
        </div>
    </div>
    <!-- End of Container Fluid -->
</section>
<!-- End of Service List Area -->
