<!-- Start Service Area -->
<section class="service-area section-space--inner--bottom--r95">
    <!-- Start Container Fluid -->
    <div class="container-fluid custom-fluid">
        <div class="row">
            <div class="col-lg-5">
                <!-- Start Service Video -->
                <div class="service-video" data-animate="fadeInLeft">
                    <div class="service-video-slider owl-carousel" data-owl-margin="0" data-owl-nav="false" data-owl-dots="true" data-owl-autoplay="false">
                        <!-- Start Single Service Sider -->
                        <div class="single-service-slider">
                            <div class="service-video-bg d-flex align-items-center justify-content-center bg-cover" data-bg-img="assets/img/service-video-bg.jpg">
                                <!-- <div class="service-video-img">
                                    <img src="" alt=""> 
                                </div> -->
                                <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="video-service-content">
                                <p>
                                    “Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.”
                                </p>
                                <h4 class="author-name">Mark Henrey <span class="author-title">UI Designer at UHUB</span></h4>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                        <!-- Start Single Service Sider -->
                        <div class="single-service-slider">
                            <div class="service-video-bg bg-cover d-flex align-items-center justify-content-center" data-bg-img="assets/img/video2.png">
                                <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="video-service-content">
                                <p>
                                    “Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.”
                                </p>
                                <h4 class="author-name">Mark Henrey <span class="author-title">UI Designer at UHUB</span></h4>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                        <!-- Start Single Service Sider -->
                        <div class="single-service-slider">
                            <div class="service-video-bg bg-cover d-flex align-items-center justify-content-center" data-bg-img="assets/img/video3.png">
                                <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="video-service-content">
                                <p>
                                    “Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.”
                                </p>
                                <h4 class="author-name">Danielle Fugazzi <span class="author-title">UI Designer at UHUB</span></h4>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                    </div>
                </div>
                <!-- End of Service Video -->
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-12">
                        <!-- Start Section Title -->
                        <div class="section-title" data-animate="fadeInUp">
                            <h5 class="line-title">ALL SERVICES</h5>
                            <h4>Making products meaningful</h4>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                            </p>
                        </div>
                        <!-- End of Section Title -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <!-- Start Single Service -->
                        <div class="single-service" data-animate="fadeInUp">
                            <div class="service-icon">
                                <img src="assets/img/services/1.png" alt="">
                            </div>
                            <div class="service-details">
                                <h4>
                                    Product Design
                                </h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected.</p>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                    </div>
                    <div class="col-md-6">
                        <!-- Start Single Service -->
                        <div class="single-service" data-animate="fadeInUp" data-delay=".2">
                            <div class="service-icon">
                                <img src="assets/img/services/2.png" alt="">
                            </div>
                            <div class="service-details">
                                <h4>
                                    Branding & Marketing
                                </h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected.</p>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                    </div>
                    <div class="col-md-6">
                        <!-- Start Single Service -->
                        <div class="single-service" data-animate="fadeInUp" data-delay=".3">
                            <div class="service-icon">
                                <img src="assets/img/services/3.png" alt="">
                            </div>
                            <div class="service-details">
                                <h4>
                                    Custom Development
                                </h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected.</p>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                    </div>
                    <div class="col-md-6">
                        <!-- Start Single Service -->
                        <div class="single-service" data-animate="fadeInUp" data-delay=".4">
                            <div class="service-icon">
                                <img src="assets/img/services/4.png" alt="">
                            </div>
                            <div class="service-details">
                                <h4>
                                    Rapid Prototypin
                                </h4>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form by injected.</p>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of COntainer Fluid -->
</section>
<!-- End of Service Area -->
