<!-- Start Single Aticle Area -->
<section class="single-article-area section-space--inner--r95">
    <!-- Start Container  -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Start Single Article Top -->
                <div class="single-article-top" data-animate="fadeInUp">
                    <h4>Truth, Justice, or the American Way</h4>
                    <!-- Start Blog Meta -->
                    <div class="blog-meta">
                        <ul>
                            <li><span>SUPER USER</span></li>
                            <li><a href="#">Blog</a></li>
                            <li><span class="date">08 JULY 2019</span></li>
                        </ul>
                    </div>
                    <!-- End of Blog Meta -->
                </div>
                <!-- End of Single Article TOp -->
                <!-- Start Article Content -->
                <div class="single-article-content">
                    <!-- Start Article Image -->
                    <div class="article-img pull-left" data-animate="fadeInLeft">
                        <img src="assets/img/blogs/8.jpg" alt="">
                    </div>
                    <!-- End of Article Image -->

                    <!-- Start Article Text -->
                    <div class="article-text" data-animate="fadeInUp">
                        <p>
                            Morbi ultrices nisi vitae nisi placerat ultricies at ac felis. In at velit sodales, molestie odio sed, ornare turpis.
                        </p>
                        <p>
                            “Truth, justice, and the American way” served as Superman’s catchphrase for many years. I grew up rehashing that in my mind as often as I was “able to leap tall buildings in a single bound” and all of the other rhetoric attendants with Superman. I never much thought about what lived behind the rhetoric, but I’m thinking about it today, as I reflect on how I’m feeling during this Independence Day weekend.
                        </p>
                        <p>
                            I understand advocating for truth and justice, but why did Superman care about the American way? He wasn’t even from Earth. Sure, he grew up in the US, but what to him was the American way that it was something worth fighting for and lauding along with truth and justice?
                        </p>
                        <p>
                            What did the American way mean to a white Superman, a man who embodied all that the powerful in America wished they could be — culturally handsome, adorably misogynist, strong, self-controlled, and guided by a savior complex?I don’t think the American way meant to Superman what it probably meant to the people who most resembled him.
                        </p>
                        <p>
                            In 1932, Jerry Siegel’s (creator of Superman along with Joe Shuster) father died in a robbery at gunpoint. It’s believed that Siegel created a bullet-proof superman in his grief over the tragic loss of his father. So that makes Superman a creation to combat personal grief, but also a story to wrest Americans out of the bitter realities of the Great Depression. During a time when so few could provide for or defend themselves and their families, Superman stood as both diversion and ideal.
                        </p>
                        <p>
                            Moreover, Siegel’s father was a Jewish immigrant from Lithuania, and Superman himself was a refugee fleeing the imminent destruction of his home planet, Krypton. I see the intentionality in making Superman a refugee. During the Great Depression, if most Americans had anywhere to go or any means to get there, many of the US population probably would have been refugees emigrating somewhere else. Like the Joads in Steinbeck’s Grapes of Wrath who traveled from Oklahoma to California looking for a better life but instead found endless hardship. The bulk of US citizens had no way to find a better life, but Superman, who embodied the American myth of Lazarus’ “New Colossus”: “Give me your tired, your poor,/ Your huddled masses yearning to breathe free” could and did.
                        </p>
                        <p>
                            The American way to Superman meant finding a new home and new acceptance when all hope seemed lost — the dream of everyone who immigrates to the US. Superman, and US denizens of the Great Depression, wouldn’t have qualified as a refugee under the 1951 Refugee Convention, but since his story dates back to 1938, he would have been a refugee under the general definition that lists natural disaster as a cause for displacement. In today’s terms, however, Superman would have been an immigrant. He came to the US tired, poor, huddled, wretched refuse, homeless, and tempest-tossed. Then he came to stand for all that America expects immigrants to be — resilient potential citizens who work for and love their new home country.
                        </p>
                        <p>
                            The US narrative indicates that to be accepted immigrants must be hard working bootstrappers, but when many people come to the US, they are desperate to be protected by Superman, because it is only under that type of care that they can one day become him. Immigrants can only become like Superman when they are afforded the same protections he experienced in his sojourn with the Mr. and Mrs. Kent — food, shelter, resources, education, entertainment, family, love
                        </p>
                        <p>
                            What would Superman say about current US immigration policy? How would he fare if he had come to Smallville today? How would he have reacted to the welcome of tear gas? He wouldn’t have had the chance to learn about what it means to be humane, let alone about the American way, because he would have been imprisoned and tortured, even as a baby.
                        </p>
                        <p>
                            Superman would have learned that he could have truth and justice — or the American way. Today the American way means something very different than it did in 1938 when Superman stood as an ideal. Then again, maybe it doesn’t. If I consider what the American way has meant throughout US history, and not just for people who look like Superman, I must consider the American way for those enslaved, those driven from their homelands and slaughtered along the way, those in internment camps, those excluded at Lady Liberty’s feet, those living under Jim Crow, those without homes, those without healthcare, those wrongfully excluded from Constitutional protections.
                        </p>
                        <p>
                            And it is most likely for all of those that Superman gave up his US citizenship and shunned the idea of fighting for the American way as occurred in a 2011 comic in the Washington Times. I get that for 2011, and I get it even more today. I reluctantly find myself shunning the American way these days, because the American way seems to be a way of oppression and hate and bigotry and intentionally not recognizing the daily horrors that we commit.
                        </p>

                    </div>
                    <!-- End of Article Text -->
                    <div class="article-bottom-action d-flex justify-content-between" data-animate="fadeInUp">
                        <a href="#" class="prev-btn" data-toggle="tooltip" data-placement="top" title="How ‘Digital Nomads’ Game the System to Work in Paradise"><i class="fa fa-angle-left"></i> Prev</a>
                        <a href="#" class="next-btn" data-toggle="tooltip" data-placement="top" title="Why do people praise about Business?">Next <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <!-- End of Article Content -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</section>
<!-- End of Single Article Area -->
