<!-- Start Search Content -->
<div class="search-area section-space--inner--r95">
    <!-- Start Container  -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="search-content" data-animate="fadeInUp">
                    <!-- Start Search Form -->
                    <div class="advance-search-form">
                        <form action="#">
                            <span class="search-title">Search Terms:</span>
                            <div class="search-input">
                                <input type="text" name="search" placeholder="Search Keyword">
                                <button type="submit" class="site-btn btn disabled" disabled><i class="fa fa-search"></i>Search</button>
                                <button type="submit" class="site-btn advance-btn bordered-btn"><i class="fa fa-list-ul"></i>Advance Search</button>
                            </div>
                            <div class="advance-search-content">
                                <p>Here are a few examples of how you can use the search feature:</p>
                                <p>Entering this and that into the search form will return results with both "this" and "that".</p>
                                <p>Entering this not that into the search form will return results with "this" and not "that".</p>
                                <p>Entering this or that into the search form will return results with either "this" or "that".</p>
                                <p>Entering "this and that" (with quotes) into the search form will return results with the exact phrase "this and that".</p>
                                <p>Search results can also be filtered using a variety of criteria. Select one or more filters below to get started.</p>
                            </div>
                        </form>
                    </div>
                    <!-- End of Search Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Container -->
</div>
<!-- End of Search Content -->
