<!-- Start Team Section -->
<section class="team-members-area section-space--inner--bottom--r95" data-bg-img="assets/img/team-bg.jpg">
    <!-- Start Container Fluid -->
    <div class="container-fluid custom-fluid">
        <div class="row">
            <div class="col-12">
                <!-- Start Section Title -->
                <div class="section-title section-title-v3" data-animate="fadeInRight">
                    <h5 class="line-title">OUR LEADERSHIP</h5>
                    <h4>Meet our team</h4>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                    </p>
                </div>
                <!-- End of Section Title -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="team-member-list d-flex flex-wrap">
                    <!-- Start Team Member Element -->
                    <div class="team-member-element d-flex align-items-center">
                        <!-- Start Single Team Member -->
                        <div class="single-team-member" data-animate="fadeInUp">
                            <div class="team-member-inner">
                                <figure class="member-img">
                                    <img src="assets/img/team/1.png" alt="Team Member">
                                    <div class="member-description">
                                        <p>
                                            Lorem Ipsum is simply dummied text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </figure>
                                <div class="member-profile text-center">
                                    <h2>James Dean</h2>
                                    <span class="role">Creative Director</span>
                                </div>
                            </div>
                        </div>
                        <!-- End of Single Team Member -->
                    </div>
                    <!-- End of Team Member Element -->
                    <!-- Start Team Member Element -->
                    <div class="team-member-element d-flex align-items-center">
                        <!-- Start Single Team Member -->
                        <div class="single-team-member" data-animate="fadeInUp" data-delay=".2">
                            <div class="team-member-inner">
                                <figure class="member-img">
                                    <img src="assets/img/team/2.png" alt="Team Member">
                                    <div class="member-description">
                                        <p>
                                            Lorem Ipsum is simply dummied text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </figure>
                                <div class="member-profile text-center">
                                    <h2>Jenny McLaren</h2>
                                    <span class="role">ACCOUNT DIRECTOR</span>
                                </div>
                            </div>
                        </div>
                        <!-- End of Single Team Member -->
                    </div>
                    <!-- End of Team Member Element -->
                    <!-- Start Team Member Element -->
                    <div class="team-member-element d-flex align-items-center">
                        <!-- Start Single Team Member -->
                        <div class="single-team-member" data-animate="fadeInUp" data-delay=".3">
                            <div class="team-member-inner">
                                <figure class="member-img">
                                    <img src="assets/img/team/3.png" alt="Team Member">
                                    <div class="member-description">
                                        <p>
                                            Lorem Ipsum is simply dummied text of the printing and typesetting industry.
                                        </p>
                                    </div>
                                </figure>
                                <div class="member-profile text-center">
                                    <h2>Jess Stanley</h2>
                                    <span class="role">PROJECT MANAGER</span>
                                </div>
                            </div>
                        </div>
                        <!-- End of Single Team Member -->
                    </div>
                    <!-- End of Team Member Element -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Container Fluid -->
</section>
<!-- End of Team Section -->
