<!-- Start Testimonial Area -->
<section class="testimonial-area section-space--inner--r95">
    <!-- Start Container -->
    <div class="container-fluid custom-fluid">
        <div class="row">
            <div class="col-lg-5">
                <!-- Start Service Video -->
                <div class="service-video" data-animate="fadeInLeft">
                    <div class="service-video-slider owl-carousel" data-owl-nav="false" data-owl-dots="true" data-owl-autoplay="false">
                        <!-- Start Single Service Sider -->
                        <div class="single-service-slider">
                            <div class="service-video-bg bg-cover d-flex align-items-center justify-content-center" data-bg-img="assets/img/service-video-bg.jpg">
                                <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="video-service-content">
                                <p>
                                    “Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.”
                                </p>
                                <h4 class="author-name">Mark Henrey <span class="author-title">UI Designer at UHUB</span></h4>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                        <!-- Start Single Service Sider -->
                        <div class="single-service-slider">
                            <div class="service-video-bg bg-cover d-flex align-items-center justify-content-center" data-bg-img="assets/img/video2.png">
                                <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="video-service-content">
                                <p>
                                    “Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.”
                                </p>
                                <h4 class="author-name">Mark Henrey <span class="author-title">UI Designer at UHUB</span></h4>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                        <!-- Start Single Service Sider -->
                        <div class="single-service-slider">
                            <div class="service-video-bg bg-cover d-flex align-items-center justify-content-center" data-bg-img="assets/img/video3.png">
                                <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" class="video-play-btn">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                            <div class="video-service-content">
                                <p>
                                    “Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.”
                                </p>
                                <h4 class="author-name">Danielle Fugazzi <span class="author-title">UI Designer at UHUB</span></h4>
                            </div>
                        </div>
                        <!-- End of Single Service -->
                    </div>
                </div>
                <!-- End of Service Video -->
            </div>
            <div class="col-lg-7">
                <!-- Start Testimonial Content -->
                <div class="testimonial-content" data-animate="fadeInUp">
                    <h5 class="line-title">TRUSTED BY</h5>
                    <h3>Why do people praise about Agency?</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.</p>
                    <a href="#" class="site-btn btn-large">See all testimonial<i class="fa fa-long-arrow-right"></i></a>
                </div>
                <!-- End of Testimonial Content -->

                <!-- Start Accordion Block -->
                <div class="accordion-block" data-animate="fadeInUp" data-delay=".2">
                    <h5 class="line-title">TRUSTED BY</h5>
                    <!-- Start Single Accordion -->
                    <div class="single-accordion active">
                        <h5 class="accordion-title">Free Demo Content Installations</h5>
                        <div class="accordion-text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                            </p>
                        </div>
                    </div>
                    <!-- End of Single Accordion -->
                    <!-- Start Single Accordion -->
                    <div class="single-accordion">
                        <h5 class="accordion-title">Free Demo Content Installations</h5>
                        <div class="accordion-text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                            </p>
                        </div>
                    </div>
                    <!-- End of Single Accordion -->
                    <!-- Start Single Accordion -->
                    <div class="single-accordion">
                        <h5 class="accordion-title">Free Demo Content Installations</h5>
                        <div class="accordion-text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                            </p>
                        </div>
                    </div>
                    <!-- End of Single Accordion -->
                    <!-- Start Single Accordion -->
                    <div class="single-accordion">
                        <h5 class="accordion-title">Free Demo Content Installations</h5>
                        <div class="accordion-text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry  has been the industry's standard dummy text ever since the when an unknown printer took a galley.
                            </p>
                        </div>
                    </div>
                    <!-- End of Single Accordion -->
                </div>
                <!-- End of Accordion Block -->
            </div>
        </div>
    </div>
    <!-- End of Container -->
</section>
<!-- Wnd of Testimonial Area -->
