<!-- Start Vission Mission Area -->
<section class="vission-mission-area section-space--inner--r95">
    <!-- Start Container Fluid -->
    <div class="container-fluid custom-fluid">
        <div class="row">
            <div class="col-lg-7">
                <!-- Start Vission Mission COntent -->
                <div class="vission-mission-content" data-animate="fadeInUp">
                    <h5 class="line-title">OUR MISSION & VISION</h5>
                    <span class="top-title">Why do people praise about Agency?</span>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. 
                    </p>
                    <div class="highlight-area" data-animate="fadeInUp" data-delay=".2">
                        <p>
                            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.
                        </p>
                    </div>
                    <p>
                        Randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything.
                    </p>
                </div>
                <!-- End of Vission Mission Content -->
            </div>
            <div class="col-lg-5">
                <!-- Start Mission Video -->
                <div class="mission-video-bg bg-cover d-flex align-items-center justify-content-center" data-bg-img="assets/img/mision-bideo-bg.png" data-animate="fadeInUp" data-delay=".2">
                    <a href="https://www.youtube.com/watch?v=YE7VzlLtp-4" class="video-play-btn">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
                <!-- End of Mission Video -->
            </div>
        </div>
    </div>
    <!-- End of Container Fluid -->
</section>
<!-- End of Vission Mission Area -->
