<!-- JS
    ============================================ -->

<!-- Modernizer JS -->
<!-- <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script> -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>

<!-- jquery-ui JS -->
<script src="assets/js/plugins/jquery-ui.min.js"></script>

<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Popper JS -->
<script src="assets/js/vendor/popper.min.js"></script>

<!-- Waypoint JS -->
<script src="assets/js/vendor/waypoints.js"></script>

<!-- owl-carousel JS -->
<script src="assets/js/plugins/owl.carousel.min.js"></script>

<!-- jquery Counter up JS -->
<script src="assets/js/plugins/jquery.counterup.min.js"></script>

<!-- jquery Meanmenu JS -->
<script src="assets/js/plugins/jquery.meanmenu.min.js"></script>

<!-- jquery Magnifq Pop up JS -->
<script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

<!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

<!-- <script src="assets/js/plugins/plugins.min.js"></script> -->

<!-- Main JS -->
<script src="assets/js/main.js"></script>


</body>



</html>